*{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 40px;
    padding: 12px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 228, 238);
    height: 50px;
    font-size: 22px;
}
.container{
    width: 120vh;
    margin: auto;
    margin-top: 33px;
    font-weight: bold;
   
}